;; https://aws.amazon.com/ec2/instance-types/
{
 ;; General Purpose burstable
 "t2.small"    "64h"
 "t2.medium"   "64h"
 "t2.large"    "64h"
 "t2.xlarge"   "64h"
 "t2.2xlarge"  "64h"
 ;; General Purpose
 "m4.large"    "64h"
 "m4.xlarge"   "64h"
 "m4.2xlarge"  "64h"
 "m4.4xlarge"  "64h"
 "m4.10xlarge" "64h"
 "m4.16xlarge" "64h"
 "m3.medium"   "64h"
 "m3.large"    "64h"
 "m3.xlarge"   "64h"
 "m3.2xlarge"  "64h"
 ;; Compute Optimized
 "c4.large"    "64h"
 "c4.xlarge"   "64h"
 "c4.2xlarge"  "64h"
 "c4.4xlarge"  "64h"
 "c4.8xlarge"  "64h"
 "c3.large"    "64h"
 "c3.xlarge"   "64h"
 "c3.2xlarge"  "64h"
 "c3.4xlarge"  "64h"
 "c3.8xlarge"  "64h"
 ;; Memory Optimized
 "r4.large"    "64h"
 "r4.xlarge"   "64h"
 "r4.2xlarge"  "64h"
 "r4.4xlarge"  "64h"
 "r4.8xlarge"  "64h"
 "r4.16xlarge" "64h"
 "r3.large"    "64h"
 "r3.xlarge"   "64h"
 "r3.2xlarge"  "64h"
 "r3.4xlarge"  "64h"
 "r3.8xlarge"  "64h"
 ;; GPU
 ;; "g2.2xlarge"  (* 15 math/G)
 ;; Storage Optimized
 "i3.large"    "64h"
 "i3.xlarge"   "64h"
 "i3.2xlarge"  "64h"
 "i3.4xlarge"  "64h"
 "i3.8xlarge"  "64h"
 "i3.16xlarge" "64h"
 "i2.xlarge"   "64h"
 "i2.2xlarge"  "64h"
 "i2.4xlarge"  "64h"
 "i2.8xlarge"  "64h"
 ;; HS1
 "hs1.8xlarge" "64h"
 ;; Micro
 ;; Removed all pv instances 1/2018
 ;"t1.micro"    "64p"
 ;"m1.small"    "64p"
 ;; Previous Generation https://aws.amazon.com/ec2/previous-generation/
 ;; General Purpose
 ;"m1.medium"   "64p"
 ;"m1.large"    "64p"
 ;"m1.xlarge"   "64p"
 ;; Compute Optimized
 ;"c1.medium"   "64p"
 ;"c1.xlarge"   "64p"
 "cc2.8xlarge" "64h"
 ;; GPU
 ;; "cg1.4xlarge" (* 22 math/G)
 ;; Memory Oprimized
 ;"m2.xlarge"   "64p"
 ;"m2.2xlarge"  "64p"
 "cr1.8xlarge" "64h"
 ;"m2.4xlarge"  "64p"
 ;; Storage Optimized
 ;"hi1.4xlarge" "64p"
 }

